@import "tailwindcss";
@import "react-loading-skeleton/dist/skeleton.css";

.bgImage{
  background-blend-mode: multiply;
  background-color: rgba(0, 0, 0, 0.3);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

html::-webkit-scrollbar{
  width: 0px;
}
.scroll::-webkit-scrollbar{
  display: none;
}
.scroll{
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.scroll_y::-webkit-scrollbar{
  height:0px;
  width: 0px;
  background-color: rgb(238, 110, 25);
  /* border-radius: 10px; */
}
